@use 'variables' as v;


.espacio-portada {
    width: v.$ancho-total;
    height: 350px;
    margin: auto;
    background-image: url(/assets/portada-libros-varios.jpg);
    background-size: cover;  
    border-radius: v.$radio-esquinas;
    box-shadow: v.$sombra;
    @extend .flex-row;
    justify-content: center;

    #titulo{
        @extend .flex-row;
        justify-content: center;
        background-color: #B8D8FF;
        border-radius: v.$radio-esquinas;
        width: 750px;
        padding: 30px 0;
        img{
            margin: 15px 0;
        }
        @include v.tablet{
                    width: 90%;
                    padding: 10px
        }
    }
}

main {
    @extend .flex-column;
    .resenas {
        @include v.grid-col (grid, 1fr 1fr 1fr);
        @include v.tablet{
            @include v.grid-col (grid, 1fr 1fr);
        }
        @include v.mobile{
            @include v.grid-col (grid, 1fr);
        }

        article{
            margin: 15px;
            border-radius: v.$radio-esquinas;
            box-shadow: v.$sombra;
            img {
                @include v.estilo-imagen(100%, auto, v.$radio-esquinas);
                @include v.mobile{
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
