@use 'variables' as v;

main {
    @extend .flex-column;
    align-items: center;
    #carouselExampleIndicators {
        width: 96%;
        height: 400px;
        align-items: center;
        margin-bottom: 5px;
        @include v.mobile{
            height: auto;
        }
        .carousel-inner {
            height: 100%;
            border-radius: 20px;
        }
        }

        #banda-divisora {
            width: 100%;
        }
        .seccion-resenas{
            @extend .flex-column;
            .todas-resenas{
                display: block;
                width: 100%;
                .tarjeta-resenas {
                    @include v.grid-col (grid, 1fr 1fr 1fr);
                    padding-left: 0;
                    @include v.tablet{
                            @include v.grid-col (grid,1fr 1fr);
                    }
                    @include v.mobile{
                            @include v.grid-col (grid, 1fr);
                    }

                    li{
                        @extend .tarjetas;
                        @extend .flex-column;
                        align-items: center;
                        height: fit-content;

                            img {
                                @include v.estilo-imagen(100%, auto, 10px);
                                object-fit: contain;
                            }
                            h3 {
                                color: black;
                            }
                }
            }
        }
        }
    }
